:root {
    --white-green: rgb(25,93,48);
    --r: 45deg;
    --green-hello: #ebeeec;
    --tg-color: #0088cc;
    --vk-color: #597da3;
    --yt-color: #cd201f;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Noto sans';
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
main{
    padding-bottom: 0;
    position: relative;
    margin-top: 80px;
}
.main-content{
    padding: 0 5%;

}
a{
    text-decoration: none;
}
header{
    background-color: #000;
    height: 80px;
    margin: 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    flex: 0;
    align-items: center;
    padding: 0 2%;
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    right: 0;
}
header .header-nav{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 90%;
    /*max-width: 90%; */
}
header .header-nav ul > li{
    display: inline-block;
    margin: 0 30px;
    font-family: 'Noto sans';
    font-weight: 500;
    font-size: 16px;
    transition: all 0.35s;
}
.header-left-nav{
    list-style-type: none;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}
header .header-nav ul > li a{
    color:#a8a8a8;
}
header .header-nav ul > li a:visited{
    color:#6f6f6f;
}
header .header-nav ul > li:active{
    scale: 90%;
}
header .header-nav ul > li a:hover{
    color:#000000;
}
header .header-nav ul > li:hover{
    scale: 105%;
} 
.circle-notice{
    align-self: center;
    position: absolute;
    right: 150px;
    display: flex;
    justify-content: center;
    /* right: 100px;
    top: 20px; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#fff;
    cursor: pointer;
    transition: all 0.35s;
}
.circle-notice img{
    width: 90%;
    height: 90%;
}
.notice-number-circle{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 0;
    left: 75%;
    bottom: 110%;
    background-color: rgb(135, 7, 7);
    display: flex;
    justify-content: center;
    align-content: center;
}
.notice-number-circle .number {
    color: #fff;
    font-family: 'Noto Sans';
}
.circle-notice:hover{
    background-color: #fff;
}
.circle-notice:hover .notices-list{
    transform: none;
}
.circle-notice .notices-list{
    position: absolute;
    top: 55px;
    right: -20px;
    background-color: #fff;
    color: #000;
    flex-grow: 1;
    width: 15vw;
    height: 15vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -100;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    transition: all 0.35s;
    transform: translateY(-140%);
    min-width: 220px;
    min-height: 220px;
    overflow: hidden;
}
.circle-notice .notices-list ul{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    text-align: center;
    padding-left: 0px;
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans';
    font-weight: 600;
}
.circle-notice .notices-list li{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: clamp(12px, 3vw, 16px);
}
.circle-notice .notices-list li:hover{
    color:#fff;
    background-color: #000;
    scale: 110%;
}
.header-right-nav{
    margin-right: 0;
    margin-left: auto;
    display: flex;
}
.header-right-nav li{
    margin-right: 0;
}
.burger-button {
    order: 3;
    margin-right: 3%;
}
.burger-checkbox{
    position: absolute;
    visibility: hidden;
}
.burger{
    cursor: pointer;
    display: block;
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 5px;
    border: none;
    background: transparent;
    color: #fff;
    width: 40px;
    height: 25px;
    margin: 10px 0 10px 0;
    order: 3;
    margin-right: 3%;
}
.burger::before, .burger::after {
    content: '';
    left: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
    transition: transform 0.4s;
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
}
.burger::after {
    bottom: 0;
}
.burger-checkbox:checked + .burger::before {
    top: 10px;
    transform: rotate(45deg);
    box-shadow: 0 11px 0 rgba(255, 255, 255, 0);

}
.burger-checkbox:checked + .burger::after {
    top: 10px;
    transform: rotate(-45deg);
}
@media (max-width: 1024px) {
    .burger {
        display: block;
        visibility: visible;
    }
    .header-nav {
        visibility: hidden;
        width: auto;
        position: absolute;
        max-height: 100vh;
    }
        /* footer {
        display: grid;
        flex-direction: column;
        align-content:space-around;
        row-gap: 10px;
        padding: 1%;
        text-align: center;
    }
    footer nav {
        order: -1;
    }
    footer nav ul {
        margin-top: 1%;
        margin-bottom: 0px;
        flex-direction: column;
        justify-content: center;
    }
    footer p {
        margin: 0px; 
    }*/
    .circle-notice{
        right: 100px;
    }
}
.burger-checkbox:checked ~ .header-nav {
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: column;
    align-content: center;
    background-color: #000;
    color: #fff;
    top: 0;
    margin-top: 68px;
    padding-bottom: 1%;
    width: 100%;
    row-gap: 10px;
  }
.burger-checkbox:checked ~ .header-nav .header-left-nav{
    /* visibility: visible; */
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    gap: 10px;
    /* align-content: center; */
    text-align: center;
    background-color: #000;
    margin: auto;
    padding-top: 1%;
    padding-left: 0;
  }
.burger-checkbox:checked ~ .header-nav .header-right-nav{
    /* visibility: visible; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #000;
    margin: auto;
    padding: 0;
}

.section-katalog{
    display: block;
}
.section-aboutUS img{
    display: block;
}
.sectionclassic{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.sectionclassic .title-img{
    max-width: 100%;
    max-height: 100%;
}
.sectionclassic ul li{
    display: inline;
    margin: 0 20px;
}
.sectionclassic .classicKatalog{
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    padding-left: 0px;
}
.sectionclassic .classicKatalog::-webkit-scrollbar{
    height: 4px;
    background-color: transparent;
}
.sectionclassic .classicKatalog::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #8a8a8abb;
}
.sectionclassic .classicKatalog img{
    border-radius: 3%;
    box-shadow: 0 6px 7px #000;
}

.sectionchildren{
    display: flex;
    flex-direction: column;
}
.sectionchildren article{
    display: flex;
}
/* .sectionchildren article iframe{
    flex-shrink: 1;
} */
.sectionchildren ul li{
    display: inline;
    margin: 0 20px;
}
.sectionchildren .classicKatalog{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-left: 0px;
}
.sectionchildren .classicKatalog::-webkit-scrollbar{
    height: 4px;
    background-color: transparent;
}
.sectionchildren .classicKatalog::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #8a8a8abb;
}
.sectionchildren .classicKatalog img{
    border-radius: 3%;
    box-shadow: 0 6px 7px #000;
    transform: translateY(30px);
    transition: all 0.35s;
}
.sectionchildren .classicKatalog img:hover{
    transform: none;
}

.article-video-children iframe{
    border-radius: 20px;
    max-width: 100%;
}
.clearfix{
    clear: both;
}

@media (max-width: 1330px) {
    /* .sidebar-main aside{
        display: none;
    } */
    .ArticleLearnSlang{
        min-width: 100%;
    }
}
.sidebar-main{
    /* float: right;
    right: 10px;
    width: 22%; */
    /* margin-left: 50px;
    display: block;
    background-color: transparent; */
}
aside{
    /* text-align: justify;
    right: 10px; */
    /* width: 20%; */
    /* border-radius: 20px;
    background-color: #1b1b1b;
    padding: 1% 3%;
    margin-right: 0;
    margin-left: 10px;
    color: #fff;
    position: relative; */
}
/* aside blockquote + p{
    font-family: 'Noto sans';
    font-style:italic;
    font-weight: 400;
}
.aside-feedback{
    margin-top: 10px;
}
.aside-feedback h2{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: 600;
}
.input-area{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.aside-feedback form label{
    display: block;
    cursor: pointer;
    color: #c4c4c4;
}
.aside-feedback form label:hover{
    color: #ffffff;
}
.aside-feedback textarea{
    width: 90%;
    padding: 5%;
    margin: 1% auto;
    border: none;
    border-radius: 20px;
    font-family: 'Noto sans';
    font-weight: 500;
    font-size: 1em;
}
.aside-feedback textarea::-webkit-scrollbar{
    width: 0;
}
.aside-feedback textarea::placeholder{
    font-size: 0.8em;
    color: #5d5d5d;
}
.aside-feedback form button{
    margin: 2%;
    margin-top: 4%;
    border: none;
    border-radius: 20px;
    padding: 2% 4% 3% 4%;
    align-items: center;
    background-color: #c4c4c4;
    color: #1b1b1b;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Noto sans';
    font-weight: 500;
    font-size: 1em;
}
.aside-feedback form button:hover{
    background-color: #ffffff;
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 0 10px 1px rgba(192, 192, 192, 0.823);
}
.imgQuote{
    position: absolute;
    top: 5%;
    right: 5%;
} */
.buttonUp{
    position: fixed;
    bottom: 50px;
    padding-bottom: 2px;
    right: 20px;
    z-index: 1000000;
}
footer{
    background-color: #000000;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
    /* height: 80px; */
    /* width: 100%; */
    /* min-width: 100%; */
    color: #a8a8a8;
    margin-top: auto;
    margin-bottom: 0;
}
footer nav ul
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    min-width: 30vw;
    padding: 0;
/*     margin: 0 auto; */
}
footer nav ul li{
    display: inline-block;
    color:#a8a8a8;
/*     margin: 0 auto; */
    flex-shrink: 1;
}
footer a{
    color: #a8a8a8;
}
footer address{
 /*    margin-left: auto; */
    margin-right: 5px;
    flex: 0 1 auto;
}
footer address > a{
    color: #fff;
}
footer a:visited{
    color: #a8a8a8;
}
footer a:hover{
    color: #fff;
}
footer p{
    font: 1em sans-serif;
    /* margin-right: auto;
    margin-left: 5px; */
}
main a{
    color: #000;
}
main a:visited{
    color: #000;
}
main a:hover{
    text-decoration: underline;
}
h2{
    font-family: 'Noto sans';
    font-weight: 700;
}
article{
    margin: 0;
    /* width: 70%; */
    
}
.ArticleLearnSlang{
    border-radius: 20px;
    border-style: solid;
    box-shadow: #a8a8a8;
    padding: 1%;
    width: 70%;
}
h1{
    font-family: 'Noto sans';
    font-weight: 900;
    font-size: 36px;
}
pre{
    font-family: 'Noto sans';
}
.classic-books-title{
    font-size: 18px;
}
fieldset{
    display: inline;
}
.registration-body{
    position: relative;
}
.registration-main{
    padding-bottom: 90px;

}
/* .registration-footer{
    position: fixed;
    bottom: 0;
} */
.registration-main{
    display: flex;
    flex-grow: 1;
}
.section-registration{
    margin: 20px auto;
    border-radius: 20px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0  0 20px #5d5d5d;
   /*  text-align: center; */
}
.section-registration h2{
    text-align: center;
    display: block;
}
.registration-form{
    padding: 0vh 3vw;
    height: 90%;
}
.registration-form label{
    display: block;
    font-size: 1em;
    /* text-align: center; */
}
.registration-form input {
    display: block;
    font-size: 1em;
    font-family: 'Noto sans';
}
fieldset{
    display: flex;
}
.checkbox-field{
    justify-content: left;
}
.checkbox-field input{
    display: inline-block;
}
.checkbox-field label{
    display: inline-block;
}
.registration-form select{
    width: 40%;
    height: 5%;
    margin: 0.5vh 0 1vh 0;
    font-size: 1em;
    font-family: 'Noto sans';
    border-radius: 4px;
}
.registration-form .inputs input{
    width: 60%;
    padding-top: 0.5vh;
    padding-bottom: 0.3vh;
    margin: 0.2vh 0 1vh 0;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    background-color: transparent;
}
.registration-form .inputs input:focus{
    border-bottom: 2px solid #000000;
    outline: none;
}
.registration-form #captcha{
    width: 60%;
    padding-top: 0.5vh;
    padding-bottom: 0.3vh;
    margin: 0.2vh 0 1vh 0;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    background-color: transparent;
}
.registration-form #captcha:focus{
    border-bottom: 2px solid #000000;
    outline: none;
}
#captcha {
    width: 60px;
    background-color: #fff;
    height: 20px;
}
.registration-button{
    border: none;
    font-size: 1em;
    position: relative;
    border-color: #000;
    border-radius: 20px;
    padding: 2% 4% 2% 4%;
    margin-bottom: 3%;
    background-color: #666666;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 2;
    overflow: hidden;
    transition-property: scale;
    transition-duration: 0.1s;
}

@media (min-width: 1700px) {
    .feedback-form .registration-button {
        font-size: 1.4vw;
        width: 30%;
    }
    .feedback-form label, .feedback-form input::placeholder {
        font-size: 1.4vw;
    }
    .input-container {
        height: 60px !important;
    }
    .feedback-form .registration-button {
        width: 30%;
    }
    .feedback-form h2 {
        font-size: 2vw;
    }
    .services-section {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .services-section .service p {
        font-size: 1.2vw;
    }
}

.registration-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
    /* transform: scale(0); */
    z-index: -1;
}
#checkCaptcha {
    font-size: 16px !important;
}
.registration-button:hover {
    color: #fff;
}
.registration-button:active {
    scale: 97%;
}
.registration-button:hover::before {
    transform: none;
    /* transform: scale(1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; */
}
/* .registration-button:hover{
    background-color: #000000;
} */

.aboutUs-main{
    padding-bottom: 20px;
}
.aboutUs-main .map{
    width: 100%;
    aspect-ratio: 1/0.3;
    margin-bottom: 40px;
}
.aboutUs-main .map iframe{
    border-radius: 7px;
    width: 100%;
    height: 100%;
}
.aboutUs-main .about-video-container{
    position: relative;
    max-width: 100%;
    width: 100%;
}
.about-video-container .video {
    position: relative;
    margin-top: 40px;
    padding-bottom: 56.25%;
    height: 0;
    max-width: 100%;
    overflow: hidden;
}
.aboutUs-main .about-video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}
.aboutUs-main .button-social-media {
    margin-top: 50px;
}

@media (max-width: 720px) {
    .aboutUs-main .about-video-container{
        width: 100% ;
    }
}
.aboutUs-main .video::before{
    content: "Наша миссия – поддерживать интерес к чтению и помогать людям находить свои любимые книги. Мы уверены, что чтение – это не просто развлечение, но и способ познания мира, развития личности и расширения кругозора.";
    position: absolute;
    padding: 0 30px 0 30px;
    padding-left: 10%;
    width: 80%;
    height: 70%;
    top: 20%;
    right: 0px;
    background-color: rgb(25,93,48);
    transform: translateX(-120%);
    transition: all 1s;
    color:#fefae0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-size: clamp(14px, 1.1vw, 40px);
    font-weight: 600;
}
.aboutUs-main .video:hover::before{
    transform: translateX(-5%);
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 10px;
    position: relative;
}
.image-gallery::after {
    content: "";
    flex-grow: 100;
}
.image-gallery > li {
    height: 300px;
    flex-grow: 1;
    position: relative;
    display: flex;
    overflow: hidden;
}
.image-gallery li img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    object-fit: cover;
    transition: all .25s;
}
.image-gallery li .image-text{
    position: absolute;
    bottom: 2%;
    left: 5%;
    opacity: 0;
    transition: all 0.25s;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    width: 50%;
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 600;
    color: #fefae0;
}
.image-gallery li::before{
    content: "";
    opacity: 0;
    background-color: #383838;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.25s;
}
.like-container {
    z-index: 100;
    position: absolute;
    bottom: 2%;
    right: 10px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: gray;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#c1 {
    width: 400px;
    height: 200px;
    border: 3px solid black;
    margin: 40px;
    background-image: url(setka.png);
}
#but2 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
.like-container .like-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: -1;
}
.image-gallery li:hover::before {
    opacity: 0.5;
}
.image-gallery li:hover .image-text{
    opacity: 1;
}
.image-gallery li:hover img{
    transform: scale(105%);
}
.aboutUs-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2% 5% 2% 5%;
}
.section-aboutUS {
    display: flex;
    align-items: center;
    font-size: clamp(12px, 3vw, 20px);
    text-align: justify;
    /* flex-direction: column; */
}
.section-aboutUS img {
    width: 306px;
    height: 408px;
    margin: 1%;
    border-top-left-radius: 20px;
/*     border-bottom-left-radius: 20px; */
}
@media (max-width: 724px) {
    .section-aboutUS{
        flex-direction: column;
    }
    .map iframe {
        max-width: 100%;
        height: auto;
        aspect-ratio: 600/450;
    }
}
.button-about-katalog, .button-social-media{
    margin: 2%;
    font-family: 'Noto Sans';
    font-size: 20px;
    flex-grow: 1;
    font-weight: 700;
    background-color: rgb(25,93,48);
    color: #fefae0;
    width: 280px;
    aspect-ratio: 1/0.25;
    border-radius: 40px;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
}
.button-about-katalog:active{
    transform: scale(98%);
}
.button-about-katalog::after {
    content: "";
    flex-grow: 1;
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 20px;
    height: 60%;
    background-color: #3D2B1F;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    z-index: -100;
    transition: all 0.2s;
}
.button-about-katalog:hover::after{
    transform: translateY(100%);
}
.button-about-katalog {
    margin-bottom: 45px;
}

.button-social-media{
    background-color:#fefae0 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    transition: all 0.35s;
}

.button-social-media::after {
    content: "Мы в соцсетях";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* transform: translateX(-100%); */
    color: #fefae0;
    background-color: rgb(25,93,48);
    align-items: center;
    transition: all 0.35s;
    cursor: pointer;
}
.button-social-media:hover::after{
    transform: translateX(-100%);
}
.button-social-media:hover{
    cursor: default;
}
.button-social-media img{
    cursor: pointer;
}

/* Стилизация сайта */
.main-hello{
    position: relative;
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
    gap: 50px;
/*     background-color: #fefae07c; */
    background-color: #ebeeec;
    z-index: 100000;
    /* overflow-x: hidden; */
}
.main-hello-text {
    /* margin-left: 35px; */
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    font-weight: 600;
    /* max-width: 50%; */
    display: inline-block;
}
.main-img {
    margin-left: 10px;
}
.main-hello-text::before{
    content: "Полка";
    color: var(--white-green)
}
.text-main-hello {
    font-size: 22px;
    font-weight: 500;
}
.container-hello-text {
    gap: 10px;
    margin-right: 10px;
    position: relative;
}
.container-hello-text p{
    margin: 0;
}

li a {
    text-decoration: none;
}
.hello-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Noto Sans';
    font-size: 22px;
    font-weight: 500;
    width: 200px;
    aspect-ratio: 1/0.25;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    color: var(--white-green);
    border: solid 2px;
    overflow: hidden;
    z-index: 2;
    transition: all 0.3s;
}
.hello-button:hover {
    background-color: var(--white-green);
    color: var(--green-hello);
    text-decoration: none;
}


@keyframes movable-img {
    from {
        transform: none;
    }
    50% {
        transform: translateY(-5%);
        transform: translateX(-5%);
    }
    to {
        transform: none;
    }
}
@keyframes movable-img-pic {
    from {
        transform: none;
    }
    50% {
        transform: translateY(-10%);
        rotate: -2deg;
    }
    to {
        transform: none;
    }
}
@media (max-width: 420px) {
    .hello-button {
        display: none;
    }
    .mobile-img {
        display: block !important;
    }
    .pushkin-hello {
        position: absolute;
        top: 10px;
        left: 30px;
        rotate: -20deg;
        z-index: -1;
        animation: movable-img 10s ease-in-out infinite;
    }
    .medniy-hello {
        position: absolute;
        top: 30px;
        right: 30px;
        rotate: 20deg;
        z-index: -1;
        animation: movable-img 6s ease-in-out infinite;
    }
    .pic-hello {
        position: absolute;
        bottom: -100%;
        right: 25%;
        rotate: 0deg;
        z-index: -1;
        animation: movable-img-pic 15s ease-in-out infinite;
    }
}
.mobile-img {
    display: none;
}
@media (max-width: 1024px) {
    .main-hello img {
        display: none;
    }
    .main-hello {
        text-align: left;
        width: 100%;
        justify-content: flex-start;
    }
    .main-hello-text {
        margin-left: 0px;
        max-width: 100% ;
        flex-grow: 1;
        font-size: clamp(30px, 8vw, 60px) !important;
    }
    .text-main-hello {
        font-size: clamp(11px, 4vw, 22px) !important;
    }
    .container-hello-text {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}

.main-img{
    justify-content: flex-start;
}
.strong-name {
    color: var(--white-green);
}

header {
    background-color:#ebeeec;
}


.sectionclassic-hello {
    background-image: url("other/peace\ and\ war.webp");
    background-size: cover;
    filter: grayscale(50%);
    display: flex;
    padding: 0;
    position: relative;
    /* background-color: #fef6e8; */
    left: -5vw;
    width: calc(100% + 10vw);
    /* width: 100vw; */
    height: 520px;
    align-items: end;
    justify-content: start;
    gap: 50px;
    flex-direction: row-reverse;
}
.sectionclassic-hello img {
    border-radius: 20px;
    aspect-ratio: 1/1;
}
.sectionclassic-hello-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: 4%;
    color: #000000;
}
.sectionclassic-hello-text p{
    flex-wrap: wrap;
}
.sectionclassic-hello-text h3{
    font-size: 25px;
}

@keyframes movable-lights {
    from {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    75%{
        transform: rotate(-270deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.section-main-cards {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    transition: all 0.35s;
}

.main-card {
    width: 200px;
    height: 280px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    filter: brightness(93%);
    transition: all 0.2s;
}
.main-card-content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebeeec;
    margin: 3px;
    border-radius: 10px;
    flex-grow: 1;
    padding: 4%;
}
.main-card-number{
    z-index: -1;
    position: absolute;
    top: 25%;
    font-size: 40px;
    font-weight: 800;
}
.main-card-content .main-card-title{
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 20%;
    z-index: 2;
}
.main-card-content .main-card-text{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(8px, 3vw, 14px);
    cursor: default;
}
.main-card-button{
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    background-color: var(--green-hello);
    color: #000;
    aspect-ratio: 1/0.1;
    border-radius: 40px;
    cursor: pointer;
    transition: scale 0.8s;
}
.main-card-button:hover {
    scale: 104%;
}

.main-card::before{
    opacity: 0;
    position: absolute;
    z-index: -100;
    width: 150%;
    height: 200%;
    content: "";
    transition: all 0.5s;
    background-image: conic-gradient(#000 20deg, transparent 60deg);
    animation: movable-lights 6s ease-in-out infinite;
    border-radius: 10px;
    transition: opacity 0.35s;
}
.main-card::after{
    opacity: 0;
    position: absolute;
    z-index: -100;
    width: 150%;
    height: 200%;
    content: "";
    transition: all 0.5s;
    background-image: conic-gradient(from 0.5turn, #000 20deg, transparent 60deg);
    animation: movable-lights 6s ease-in-out infinite;
    border-radius: 10px;
    transition: opacity 0.35s;
}

.main-card:hover::after{
    opacity: 1;
}
.main-card:hover::before{
    opacity: 1;
}
.main-card:hover {
    scale: 103%;
    filter: brightness(103%);
    backdrop-filter: brightness(80%);
}



.section-cards-two {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: all 0.35s;
    flex-wrap: wrap;
}
.section-cards-two:hover > .card-two{
    filter: blur(1px);
    transform: scale(90%);
    
}
.section-cards-two > .card-two:hover{
    filter: none;
    transform: none;
}

.card-two {
    width: 200px;
    height: 280px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s;
}
.card-two-content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebeeec;
    border-radius: 10px;
    flex-grow: 1;
    padding: 4%;
}
.card-two-number{
    z-index: -1;
    position: absolute;
    top: 25%;
    font-size: 40px;
    font-weight: 800;
}
.card-two-content .card-two-title{
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin-top: 20%;
    z-index: 2;
    color: #fff;
}
.card-two-content .card-two-text{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(8px, 3vw, 14px);
    cursor: default;
}
.card-two-button{
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    background-color: var(--green-hello);
    color: #000;
    aspect-ratio: 1/0.1;
    border-radius: 40px;
    cursor: pointer;
    transition: scale 0.8s;
}
.card-two-button:hover {
    scale: 104%;
}
.card-two::after {
    content: "";
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: -35%;
    /* z-index: -1; */
    border-radius: 50%;
    background-color: #000;
}


.section-cards-three {
    margin: 2% 0 0 0;
    position: relative;
    left: -5vw;
    width: calc(100% + 5vw);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: all 0.35s;
    background:#000000;
    flex-wrap: wrap;
}

.card-three {
    width: 200px;
    height: 280px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s;
}
.back-item {
    border-radius: 5px;
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 90%;
    margin: auto;
    background-image: linear-gradient(45deg, #38e3be, #8fe40e);
    transform: skewX(20deg);
    transition: all 0.5s;
}
.card-three-content{
    height: 120px;
    width: 80%;
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    flex-grow: 1;
    padding: 4%;
}

@keyframes move-square{
    from {
        transform: none;
    }
    50% {
        transform: translateY(-300%);
    }
    to {
        transform: none;
    }
}

@keyframes move-square-down{
    from {
        transform: none;
    }
    50% {
        transform: translateY(300%);
    }
    to {
        transform: none;
    }
}

.card-three::before{
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 0;
    top: 20%;
    right: 10%;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    transition: all 0.35s;
}

.card-three::after{
    content: "";
    opacity: 0;
    position: absolute;
    z-index: 0;
    bottom: 20%;
    left: 10%;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10%;
    transition: all 0.35s;
}
.card-three:hover::before {
    opacity: 1;
    animation: move-square 7s ease-in-out infinite;
    animation-delay: 0.35s;
}
.card-three:hover::after{
    opacity: 1;
    animation: move-square-down 7s ease-in-out infinite ;
    animation-delay: 0.35ss;
}
.card-three-content .card-three-title{
    cursor: default;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    z-index: 2;
    color: #000000;
}
.card-three-content .card-three-text{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(8px, 12px, 14px);
    cursor: default;
}
.card-three-button{
    margin: 0;
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 600;
    width: 80%;
    background-color: var(--green-hello);
    color: #000;
    aspect-ratio: 1/0.1;
    border-radius: 40px;
    cursor: pointer;
    transition: scale 0.8s;
}
.card-three-button:hover {
    scale: 104%;
}

.card-three:hover .back-item{
    transform: none;
}

.social-footer {
    margin-bottom: 7px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 25px;
    padding-right: 1%;
}

.button-tg, .button-vk, .button-yt{
    margin: 0;
    /* flex-grow: 1; */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-radius: 40px;
    /* overflow: hidden; */
    position: relative;
    cursor: pointer;
    background-color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.1s;
    border: none;
}
.button-tg:hover, .button-vk:hover, .button-yt:hover {
    background-color: var(--white-green);
}
.social-footer img {
    position: relative;
    z-index: 2;
}
/* .button-tg::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tg-color);
    transform: translateY(-100%);
    transition: all 0.35s;
    z-index: 0;
}
.button-tg:hover::before{
    transform: none;
}

.button-vk::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vk-color);
    transform: translateY(-100%);
    transition: all 0.35s;
    z-index: 0;
}
.button-vk:hover::before{
    transform: none;
} */
.button-vk:hover img {
    filter: invert(100%);
}
.button-tg:hover img {
    filter: invert(100%);
}
.button-yt:hover img {
    filter: invert(100%);
}
/* .button-yt::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--yt-color);
    transform: translateY(-100%);
    transition: all 0.35s;
    z-index: 0;
}
.button-yt:hover::before{
    transform: none;
} */

.registration-main{
    /* background-color:#5d5d5d; */
    /* background: linear-gradient(45deg, var(--green-hello), #fefae0); */
    background-image: url("other/geroy.jpeg");
    background-size: cover;
}
.section-registration{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    position: relative;
}

.section-registration .square {
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    animation-delay: calc(-1s * var(--i));
    animation: animate 10s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.section-registration .square:nth-child(1) {
    top: -50px;
    left: -60px;
    width: 100px;
    height: 100px;
}

.section-registration .square:nth-child(2) {
    z-index: 2;
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
}

.section-registration .square:nth-child(3) {
    z-index: 2;
    width: 80px;
    height: 80px;
    right: -50px;
    bottom: -60px;
}

.section-registration .square:nth-child(4) {
    left: 100px;
    width: 50px;
    height: 50px;
    bottom: -80px;
}

.section-registration .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

@media (max-width: 725px) {
    .section-registration {
        transform: scale(0.8);
    }
}

footer{
    z-index: 100000;
}

.services-section {
    max-width: 100%;
    position: relative;
    display: grid;
    background-color: #343A40;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-gap: 10px;
    padding: 10px;
}
.services-section img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}
.services-section .service {
    color: var(--green-hello);
    background: #212529;
    padding: 20px;
    font-size: 18px;
    display: grid;
    place-items: center;
    transition: all 0.35s;
}
.services-section .service p{
    margin: 0;
}
.services-section .service:hover {
    background: #e91e63;
}

.services-section .service:nth-child(1){
    grid-column: span 2;
}
.services-section .service:nth-child(2){
    grid-row: span 2;
}
.services-section .service:nth-child(4){
    grid-row: span 2;
}
.services-section .service:nth-child(7){
    grid-column: span 3;
}
@media (max-width: 950px) {
    .services-section {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .services-section .service {
        grid-column: unset !important;
        grid-row: unset;
    }
}

li{
    list-style: none;
}
ul{
    padding-left: 0;
}

.social-footer {
    justify-content: flex-start;
}
.registration-footer {
    position: relative;
}
.registration-footer .container{
    padding: 2%;
    padding-bottom: 2px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: flex-start;
}
.registration-footer .container > p {
    grid-column: span 2;
    justify-self: start;
}
.registration-footer .container > .myName {
    grid-column: span 2;
    justify-self: end;
}
.registration-footer .connect-img {
    filter: invert(100%);
    width: 24px;
    height: 24px;
    padding-right: 15px;
}
.registration-footer .footer-list li {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 0px;

}
@media (max-width: 990px) {
    .registration-footer .container > p {
        grid-column: span 2;
        justify-self: center;
    }
    .registration-footer .container{
        grid-template-columns: repeat(2, 1fr)
    }
}
@media (max-width: 768px) {
    .registration-footer .container > p {
        grid-column: span 1;
        justify-self: center;
    }
    .registration-footer .container{
        grid-template-columns: repeat(1, 1fr)
    }
}

.feedback-form {
    background-color: #343A40;
    width: 100%;
    /* height: 500px; */
    color: #ebeeec;
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 40px
}

.feedback-form .inputs {
    padding: 5%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.input-container {
    position: relative;
    height: 25px;
}
.feedback-form input {
    height: 100%;
    width: 100%;
    font-size: 1em;
    font-family: 'Noto sans';
    border: none;
    border-bottom: 1px solid #a8a8a8;
    background-color: transparent;
    transition: all 0.35s;
    transition: background-color none;
    color: #000;
    position: relative;
    overflow: hidden;
}
.feedback-form label {
    pointer-events: none;
    position: absolute;
    left:0;
    bottom: 0px;
    transition: all .35s;

}
.feedback-form input::placeholder{
    color: #ebeeec;
}
.feedback-form .inputs input:focus {
    border-bottom: 2px solid #ebeeec;
    border-radius: 4px;
    outline: none;
    background-color: #ebeeec;
}
.feedback-form .inputs input:not(:focus):valid{
    border-bottom: 2px solid #ebeeec;
    border-radius: 4px;
    outline: none;
    background-color: #ebeeec;
}
.feedback-form .inputs input:focus + label,
.feedback-form .inputs input:not(:focus):valid + label {
    position: absolute;
    left: 0;
    transform: translateY(-120%);
    font-size: 14px;
    /* top: -24px; */

}
.feedback-form .message {
    grid-column: span 2;
}
@media (max-width: 712px) {
    .feedback-form .message {
        grid-column: span 1;
    }
    .feedback-form .inputs {
        grid-template-columns: repeat(1, 1fr);
    }
    .feedback-form {
        max-width: 100%;
    }
}

#heart {
    display: block;
    border: none;
    font-size: 1em;
    position: relative;
    border-color: #000;
    border-radius: 20px;
    padding: 2% 4% 2% 4%;
    margin: 10px;
    margin-bottom: 3%;
    background-color: #666666;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}


.classicKatalog li p {
    display: flex;
    width: 30px;
    height: 30px;
    border: #000 solid 1px;
    align-items: center;
    justify-content: center;
}
.classicKatalog li #kap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.main-basket {
}

#basket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    text-align: center;
}
.basket-container {
    text-align: center;
}

#Begin:target {
    scroll-margin-top: 100px;
}
#Begin {
    position: relative;
}


/* Каталог */
.katalog-bestseller {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    position: relative;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content:space-evenly;
/*     background-color: #fefae07c; */
    background-color: #ebeeec;
    z-index: 100000;
    overflow: hidden;
}
.katalog-text {
    max-width: 40%;
}
.katalog-hello {
    /* margin-left: 35px; */
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    font-weight: 600;
    /* max-width: 50%; */
    display: inline-block;
    color: #3B3C36;
}
.katalog-hello-text {
    font-size: 18px;
    font-weight: 500;
}
.katalog-hello-img {
    height: 80%;
}
@media (max-width: 1024px) {
    .katalog-bestseller{
        height: calc(90vw / 1.8);
        gap: 10px;
    }
    .katalog-hello-img {
        height: 80%;
    }
    .katalog-hello {
        margin-left: 0px;
        max-width: 100% ;
        flex-grow: 1;
        font-size: clamp(16px, 5vw, 60px) !important;
    }
    .katalog-hello-text {
        font-size: clamp(12px, 2vw, 22px) !important; 
    }
    .container-hello-text {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}
.improve-books li{
    display: inline;
    margin: 0 20px;
}
.improve-books .card {
    margin-bottom: 5px;
    max-width: 168px;
}
.improve-books {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    padding-left: 0px;
    height: 100%;
    margin-top: 0px;
    padding: 0px;
}
.improve-books img {
    width: 166px;
    height: 247px;
    border: solid 0.001px #d4d4d4;
}
.improve-books .autor {
    font-size: 14px;
    max-width: 100%;
    max-height: 19px;
    overflow: hidden;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
}
.improve-books .title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    max-width: 100%;
    max-height: 50px;
    min-height: 50px;
    overflow-y: hidden;
    word-break: break-word;
}
.improve-books::-webkit-scrollbar{
    height: 4px;
    background-color: transparent;
}
.improve-books::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #8a8a8abb;
}

.katalog-west {
    background: linear-gradient(135deg, #BEBFC5, #1B1B1B);
}
.west-hello {
    color: #fff;
}
.west-hello-text {
    color: #fff;
}

.katalog-child {
    background: linear-gradient(135deg, #FFFDD0, #EF9B0F);
}
.child-hello {
    color: #0F0C53;
}
.child-hello-text {
    color: #0F0C53;
}
.improve-title {
    font-size: 18px;
}

.katalog-fantastic {
    background: linear-gradient(135deg, #343434, #111111);
}
.fantastic-hello {
    color: #fff;
}
.fantastic-hello-text {
    color: #fff;
}

.katalog-economy {
    background: linear-gradient(135deg, #BEBFC5, #1B1B1B);
}
.economy-hello {
    color: #fff;
}
.economy-hello-text {
    color: #fff;
}

.sidebar-books{
    gap: 30px;
    height: 329px;
    overflow-y: hidden;
}
.sidebar-books img {
    width: 227px;
    height: 329px;
    border: solid 0.001px #d4d4d4;
    position: absolute;
    right: 0;
}
.sidebar-books .container-quote{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
    min-width: 500px;
    background-color: #F5F5F5;
    margin: 0;
    padding-left: 20px;
}

.sidebar-books .title-book {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
    max-height: 20%;
}
.sidebar-books .quote {
    margin-top: 0px;
    font-weight: 500;
    font-size: 16px;
    max-height: 80%;
}
.text-quote {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    max-height: 100%;
    max-width: 40%;
}
@media (max-width: 500px) {
    .sidebar-books .container-quote {
        min-width: 400px !important;
    }

}

.katalog-classic {
    background: linear-gradient(135deg, #F5F5F5, #faedcd);
}

.katalog-sales {
    border-radius: 50px;
    height: 400px;
}
.katalog-sales img {
    height: 100%;
}
@media (max-width: 1024px) {
    .katalog-sales{
        position: relative;
        height: calc(90vw / 1.8);
        gap: 10px;
    }
    .katalog-hello {
        margin-left: 0px;
        max-width: 100% ;
        flex-grow: 1;
        font-size: clamp(16px, 5vw, 60px) !important;
    }
    .katalog-hello-text {
        font-size: clamp(12px, 2vw, 22px) !important; 
    }
    .container-hello-text {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .sales-text {
       display: none !important;
    }
    .katalog-sales::before {
        content: "Акции";
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(103, 103, 103, 0.4);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        color: #fff;
        font-size: clamp(16px, 6vw, 60px) !important;
        font-family: "Noto Sans";
    }
}

/* Акции на главной */

.grid-sales {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;

}
.sales-item {
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: var(--green-hello);
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sales-item-img {
    /* width: 166px;
    height: 247px; */
    height: 70%;
    aspect-ratio: 166/247;
    position: absolute;
    right: -3%;
    bottom: -10px;
}
.first-sales-item-img {
    right: 2%;
    bottom: -20px;
}
.title-sales-item {
    margin-left: 30px;
    font-weight: 600;
    max-width: 50%;
    font-size: 16px;
}
.sales-button {
    margin-left: 30px;
    max-width: 35%;
    width: 150px;
    border: none;
    background-color: #B2BEB5;
}

@media (max-width: 779px) {
    .grid-sales {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .sales-item {
        height: calc(90vw / 2.2);
    }
    .sales-button {
        display: flex !important;
        font-size: 80%;
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

@media (max-width: 450px) {
    .section-registration .square {
        display: none !important;
    }
    .section-registration{
        margin: 0px;
        border-radius: 0%;
        transform: none;
        width: 100%;
        height: 110%;
        background-color: rgba(255, 255, 255, 0.7);
        font-weight: 600;
    }
    .registration-main {
        justify-content: left;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .section-registration #regButton {
        width: 180px;
    }
}



/* Корзина */
.rate:hover {
    cursor: pointer;
}
#trash {
    padding: 0 5vw 0 5vw;
}
#trash-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#trash-cards .card {
    background-color: #F5F5F5;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
}
#trash-cards .card .book-img {
    width: 166px;
    height: 247px;
}
#container-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container-btns button {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-green);
    border: none;
    background-color: #e3e1e1;
    transition: all 0.2s;
}
#container-btns button:hover {
    color: #ffffff;
    border: none;
    background-color: var(--white-green);
    cursor: pointer;
}
#container-btns #quantity {
    margin: 0 20px 0 20px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 18px;
}
#container-btns button p {
    margin: 0;
    font-size: 20px;
}

#trash-cards .card .cart-title{
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
}
.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.card-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 180px;
    width: 180px;
}
.card-name p {
    margin: 0;
}
.card-name .cart-author {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    color: #5d5d5d;
}
@media (max-width: 840px) {
    #trash-cards .card {
        height: 350px;
    }
    .card-wrapper {
        gap: 5px;
        flex-direction: column;
        justify-content: flex-start;
    }
    #trash-cards .card .cart-title{
        font-size: clamp(16px, 1.5vw, 24px);
        margin-left: 5px;

    }
    .card-name .cart-author {
        font-size: clamp(14px, 1.1vw, 18px);
        margin-left: 5px;

    }
}
@media (max-width: 700px) {
    #trash-cards {
        flex-direction: column;
        align-items: center;
    }
    .book-img {
        align-self: center;
    }
    #trash-cards .card {
        height: 460px;
        width: 230px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
    }
    .price {
        margin: 0;
        align-self: baseline;
        margin-left: 30px
    }
    .card-wrapper {
        margin-top: 10px;
        gap: 5px;
        flex-direction: column;
        justify-content: flex-start;
    }
    #trash-cards .card .cart-title{
        font-size: clamp(16px, 1.5vw, 24px);

    }
    .card-name .cart-author {
        font-size: clamp(14px, 1.1vw, 18px);

    }
}

.plus-class {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: #B2BEB5;
    /* font-family: 'Noto Sans';
    font-size: 14px;
    font-weight: 500; */
    border-radius: 10px;
    /* position: relative; */
    cursor: pointer;
    color: var(--white-green);
    overflow: hidden;
    transition: all 0.3s;
    height: 40px;
    width: 40px;
}
.shop-button {
    width: 40px;
    height: 40px;
}
#plus:hover {
    background-color: var(--white-green);
    color: var(--green-hello);
    text-decoration: none;
}
.price-katalog {
    margin: 0 !important;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.wrap-but {
    background-color: #B2BEB5; 
    background-color: var(--white-green);
    width: 40px; height: 40px; display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    background-color: #B2BEB5; 
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.2s;
}
.wrap-but:hover {
    background-color: var(--white-green);
}
.wrap-but:active {
    scale: 96%;
}

#result {
    background-color:#ebeeec;
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#result p {
    display: inline;
}
#result  p{
    font-family: 'Noto Sans';
    font-size: 1.3em;
}
.vsego {
    font-family: 'Noto Sans';
    font-size: 1.5em;
    font-weight: 600;
}
#btn-ex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Noto Sans';
    font-size: 1.3em;
    font-weight: 500;
    width: 220px;
    aspect-ratio: 1/0.25;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    color: #000;
    border: solid 2px;
    overflow: hidden;
    z-index: 2;
    transition: all 0.3s;
}
#btn-ex:hover {
    background-color: var(--white-green);
    color: var(--green-hello);
    border: none;
}
#btn-ex:active {
    scale: 96%;
}
